.reviews {
    margin-top: 100px;
    display: block;
    margin: 70px auto;
    h2 {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &__block {
        margin-top: 70px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img {
            // max-width: 170px;
            // max-height: 170px;
        }
        
        &__text {
            max-width: 650px;
            .name {
                max-width: 650px;
                color: #0d0d0d;
                font-size: 18px;
                font-weight: 700;
                text-align: left;
            }
            .wins {
                margin-top: 10px;
                color: #646464;
                font-size: 14px;
                font-weight: 300;
                text-align: left;
            }
            .main-text {
                margin-top: 19px;
                color: #0d0d0d;
                font-size: 16px;
                font-weight: 300;
                text-align: left;
            }
        }
    }
}